@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.title h1 {
    font-family: "Rubik";
    font-weight: 300;
    color: #4c4c4c;
    font-size: 38px;
}
.subtitle h2 {
    font-family: "Rubik";
    font-weight: 300;
    color: #4c4c4c;
    font-size: 32px;
}
.subtitle{
    height: 16vh;
    display: flex;
    align-items: center;
}
.title {
    height: 16vh;
    background-color: hsl(216, 33%, 97%);
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    grid-gap: 0.5em;
    height: 12vh;
    align-items: center;
}

.link a {
    color: #4c4c4c;
}

.link a:hover {
    opacity: 0.5;
}
.yandex{
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.revievBlock{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
}
.revievCard{
    grid-gap: 1em;
    display: flex;
    justify-content: space-between;
    width: 47%;
}
.revievCom{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.55;
    word-spacing: 1.5px;
    color: #4c4c4c;
}
.revievName a{
    color: #0e7496;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.revievDate{
    color: #4c4c4c;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
.rev__first__block{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5em;
}
.revievImg img {
    width: 50px;
    border-radius: 25px;
}
@media (max-width:900px) {
    .yandex{
        margin-bottom: 150px;
    }
    .revievBlock{
        flex-direction: column;
    }
    .revievCard{
        width: 80%;
    }
}
@media (max-width:740px) {
    .yandex{
        margin-bottom: 320px;
    }
}
@media (max-width:600px) {
    .yandex{
        margin-bottom: 240px;
    }
    .revievCard{
        flex-direction: column;
        margin: 20px;
    }
    .revievImg{
        text-align: center;
    }
}
@media (max-width:425px) {
    .yandex{
        margin-bottom: 150px;
    }
}
@media (max-width:320px) {
    .yandex{
        margin-bottom: 100px;
    }
}