@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');
.title h1 {
    font-family: "Rubik";
    font-weight: 300;
    color: #4c4c4c;
    font-size: 38px;
}
.title h2 {
    font-family: "Rubik";
    font-weight: 300;
    color: #4c4c4c;
    font-size: 32px;
}
.title {
    height: 16vh;
    background-color: hsl(216, 33%, 97%);
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    grid-gap: 0.5em;
    height: 12vh;
    align-items: center;
}

.link a {
    color: #4c4c4c;
}

.link a:hover {
    opacity: 0.5;
}
