@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@300&family=Montserrat:ital@0;1&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 996px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 840px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 780px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }
}

.authors {
  margin-top: 40px;
  display: flex;
  align-items: center;
  height: 135px;
  justify-content: center;
}
.authors h2 {
  color: #4c4c4c;
  font-size: 36px;
  line-height: 1.55;
  font-weight: 400;
  font-family: "Rubik", Arial, sans-serif;
}
.cardList_terapy_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.therapy-title {
  color: #4c4c4c;
  font-size: 36px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  margin: 60px 0;
}
/* author method block */
.doctor {
  border-radius: 500px;
  height: 100%;
}
.authorWrapper {
  margin-bottom: 55px;
}
.upperBlock {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 30px;
}

.doctorName {
  display: flex;
  color: #0e7496;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.55;
  margin-top: 10px;
}
.doctorName:hover {
  cursor: pointer;
}
.doctorProf {
  color: #4c4c4c;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 10px;
}
.doctorDes {
  color: #4c4c4c;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
}
.arrowRight {
  display: block;
  width: 25px;
  margin-left: 13px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.arrowRight:hover {
  margin-left: 25px;
}
.companies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
}
.companies img:nth-of-type(1) {
  width: 107px;
  height: 65px;
  margin-right: 10px;
}
.companies img:nth-of-type(2) {
  margin-right: 10px;
  height: 65px;
}
.companies img:nth-of-type(3) {
  width: 159px;
}
.lowerBlock {
  display: flex;
  margin-top: 50px;
}
.lowerBlock > img {
  border-radius: 500px;
}
.youtube_links {
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: #0e7496;
}
.youtube_links:hover {
  cursor: pointer;
}

.authors {
  display: flex;
  align-items: center;
  height: 135px;
  margin-bottom: 45px;
  justify-content: center;
}
.authors h2 {
  color: #4c4c4c;
  font-size: 36px;
  line-height: 1.55;
  font-weight: 400;
  font-family: "Rubik", Arial, sans-serif;
}
.about {
  display: flex;
  margin-top: 70px;
  margin-bottom: 95px;
  justify-content: space-around;
}
.first_about {
  width: 55%;
  color: #4c4c4c;
  font-size: 32px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.25;
  font-weight: 300;
}
.first_about span {
  background: linear-gradient(to bottom, white 50%, rgb(229, 253, 253) 50%);
}
.second_about {
  width: 60%;
  color: #4c4c4c;
  font-size: 17px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.second_about span {
  color: rgb(150, 14, 116);
}
@media (max-width: 960px) {
  .authors {
    text-align: center;
    margin-bottom: 25px;
  }
  .upperBlock {
    flex-direction: column;
    align-items: center;
  }
  .lowerBlock {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 512px) {
  .companies {
    flex-wrap: wrap;
    justify-content: center;
  }
  .doctor {
    width: 80%;
  }
  .lowerDoctor {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .about {
    flex-direction: column;
  }
  .first_about {
    width: 100%;
    margin-bottom: 40px;
  }
  .second_about {
    width: 100%;
  }
}
.consult_block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
}
.consult_block img {
  position: absolute;
  border-radius: 30px;
  left: 0px;
  bottom: 20px;
}
.consult_des {
  display: flex;
  justify-content: center;
  width: 960px;
  height: 265px;
  border: 2px #d7dbe0 solid;
  border-radius: 20px;
  align-items: center;
}
.consult_des div {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 140px;
}
.consult_des div h3 {
  color: #4c4c4c;
  font-size: 24px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.consult_des div p {
  color: #4c4c4c;
  font-size: 16px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

/* end of author method block */

/* start of mrt */

.mrt {
  border-width: 1px;
  border-radius: 20px;
  background-position: center center;
  border-color: #0e7496;
  border-style: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  padding: 25px 0;
}
.mrt_wrapper {
  display: flex;
  justify-content: space-around;
}
.mrt img {
  width: 117px;
  margin-left: 50px;
}
.btn-mrt {
  background-color: #ff685a !important;
}
.mrt-text {
  color: #0e7496;
  font-size: 26px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  text-align: center;
  width: 65%;
}
.mrt-text div {
  font-size: 18px !important;
}
.mrt-title {
  width: 40%;
}
.mrt-title h1 {
  color: #4c4c4c;
  font-size: 36px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.mrt-title div {
  color: #4c4c4c;
  font-size: 18px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.mrt-slider {
  width: 55%;
}
.mrt-card-wrapper {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mrt-slider .slick-slider {
  height: 260px;
}
.mrt-title-slider-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.mrt-slider img {
  width: 120px;
  border-radius: 100px;
}
.mrt-slider .slick-slide {
  transition: all 0.3s ease-in-out;
  opacity: 1 !important;
  transform: scale(0.8);
  filter: opacity(0.4);
  cursor: pointer;
}
.mrt-slider .slick-current {
  transform: scale(1);
  filter: opacity(1);
}
.mrt-slider .slick-slide:hover {
  filter: opacity(1);
}
.mrt-slider .slick-next {
  right: -25px !important;
  top: 25% !important;
  background-color: #ff685a !important;
}
.mrt-slider .slick-prev {
  left: -25px !important;
  top: 25% !important;
  background-color: #ff685a !important;
}
.mrt-slider-des-wrapper {
  display: flex;
  justify-content: space-between;
}
.mrt-slider-des-wrapper img {
  border-radius: 30px;
  height: 213px;
  width: 40%;
}
.mrt-slider-des {
  width: 55%;
}
.mrt-slider-des div:nth-of-type(1) {
  color: #0e7496;
  font-size: 24px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}
.mrt-slider-des div:nth-of-type(2) {
  color: #4c4c4c;
  font-size: 18px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
}
.mrt-slider-des div:nth-of-type(2) span {
  font-weight: 600;
}
.mrt-des-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.mrt-section {
  background-color: #f5f7fa;
}
.mrt-before-des {
  width: 45%;
  margin-bottom: 92px;
}
.mrt-after-des {
  width: 45%;
}
.mrt-btn {
  border-radius: 10px;
  color: #ffffff;
  padding: 7px 30px;
  width: fit-content;
  margin-bottom: 15px;
}
.mrt-red {
  background-color: #ff685a;
}
.mrt-blue {
  background-color: #0e7496;
}
.mrt-before-des-text {
  display: flex;
  align-items: flex-start;
}
.mrt-before-des-text::before {
  content: "";
  width: 15px;
  border-bottom: 2px solid #ff685a;
  margin-right: 15px;
  margin-top: 10px;
}
.mrt-before-des-text div {
  width: 100%;
}
.mrt-after-des-text {
  display: flex;
  align-items: flex-start;
}
.mrt-after-des-text div:nth-of-type(2) {
  width: 100%;
}
.mrt-after-des-text div:nth-of-type(1) {
  padding-top: 3px;
  margin-right: 15px;
  width: 15px;
}
.mrt-after-des-text div:nth-of-type(1) img {
  width: 100%;
}
.mrt-des-duration {
  color: #0e7496;
  font-size: 16px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  margin-top: 30px;
}
.mrt-text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1200px) {
  .mrt-slider img {
    width: 100px;
  }
  .mrt-text-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .mrt-text {
    width: 100%;
    text-align: left;
  }
  .mrt .slick-btn {
    margin-top: 25px;
  }
  .mrt img {
    width: 200px;
  }
}
@media (max-width: 960px) {
  .mrt-title-slider-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .mrt-title div {
    display: none;
  }
  .mrt-title {
    width: 100%;
    text-align: center;
  }
  .mrt-slider {
    width: 80%;
  }
  .mrt-slider .slick-next {
    top: 20% !important;
  }
  .mrt-slider .slick-prev {
    top: 20% !important;
  }
  .mrt-slider-des-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .mrt-slider-des-wrapper img {
    width: 100%;
    height: fit-content;
  }
  .mrt-slider-des {
    width: 100%;
  }
  .mrt-slider-des div:nth-of-type(1) {
    margin: 15px 0;
  }
  .mrt-des-wrapper {
    flex-direction: column;
  }
  .mrt-before-des {
    width: 100%;
    margin-bottom: 25px;
  }
  .mrt-after-des {
    width: 100%;
  }
  .mrt img {
    margin: 0;
  }
  .mrt-text div {
    display: none;
  }
}
@media (max-width: 512px) {
  .mrt {
    flex-direction: column;
  }
  .mrt-text {
    text-align: center;
  }
  .mrt-text div {
    display: block;
  }
  .mrt-text-wrapper {
    align-items: center;
  }
  .mrt img {
    margin: 0;
  }
  .mrt-slider .slick-next {
    right: -15px !important;
  }
  .mrt-slider .slick-prev {
    left: -15px !important;
  }
}
/* end of mrt */

/* start of card_specialists */
.card_specialists {
  width: 100%;
  background-size: cover;
  background-image: url(https://thumb.tildacdn.com/tild6562-6431-4537-b066-326630633039/-/format/webp/IMG_3703.jpg);
  background-position: bottom;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.card_specialists_block1 {
  width: 280px;
}
.cardList_specialists_wrapper {
  margin-top: 140px;
  display: flex;
}
@media (max-width: 512px) {
  .cardList_specialists_wrapper {
    flex-wrap: wrap;
  }
}
#title {
  font-weight: 800;
  color: #4c4c4c;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}
#button {
  margin-top: 40px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  border-width: 1px;
  border-radius: 30px;
  background-color: #0e7496;
  background-position: center center;
  width: 220px;
  height: 53px;
  border: 0;
}
#button:hover {
  background-color: #ff685a;
}
@media (min-width: 359px) and (max-width: 893px) {
  .cardList_specialists_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.Reviews-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-evenly;
}
.Reviews-Wrapper h2 {
  font-size: 36px;
  font-family: "Rubik", Arial, sans-serif;
  color: #4c4c4c;
}

.Reviews-Wrapper .Reviews-Content {
  display: flex;
  flex-direction: row;
  width: 72%;
  justify-content: space-evenly;
}

.Review .Card-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;
}

.Reviews-Content .Review {
  width: 16.5%;
  height: 230px;
}

.Reviews-Wrapper .Reviews-Content .Review .Card-Content {
  border: 1px solid #e5e5e5;
}
.Reviews-Wrapper .Reviews-Content .Review .Card-Content span {
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  color: blue;
  font-weight: bold;
}
.Reviews-Wrapper .Reviews-Content .Review .Card-Content a {
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
}
.Reviews-Wrapper .Reviews-Content .Review .Card-Content h6 {
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.Review .Card-Content .Stars-Reviews {
  display: flex;
  flex-direction: row;
}

.Review .Card-Content img {
  width: 120px;
  height: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

.Review .Card-Content .Stars-Reviews img {
  width: 65px;
  height: 25px;
}
.Review .Card-Content .Stars-Reviews .Empty-Star {
  background: url("https://prodoctorov.ru/static/img/star_empty.png");
  width: 120px;
}
.Review .Card-Content .Stars-Reviews .Full-Star {
  background: url("https://prodoctorov.ru/static/img/star_full.png");
  position: absolute;
  width: 90px;
}
.Review .Card-Content .Stars-Reviews p {
  font-size: 15px;
  margin-left: 5px;
}
@media (max-width: 1025px) {
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content span {
    max-width: 90%;
    font-size: initial;
  }
}
@media (min-width: 990px) and (max-width: 1025px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 850px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 650px;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .Reviews-Wrapper .Reviews-Content .Review {
    width: 25.5%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
  }
  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
}
@media (min-width: 770px) and (max-width: 989px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 850px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 650px;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .Reviews-Wrapper .Reviews-Content .Review {
    width: 25.5%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
  }
  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
}
@media (min-width: 750px) and (max-width: 769px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 850px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 650px;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .Reviews-Wrapper .Reviews-Content .Review {
    width: 25.5%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
    margin: 0;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews p {
    font-size: 11px;
  }
}
@media (min-width: 599px) and (max-width: 766px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 900px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 780px;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .Reviews-Wrapper .Reviews-Content .Review {
    width: 42%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
    margin: 0;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72%;
  }

  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews p {
    font-size: 11px;
  }
}
@media (min-width: 415px) and (max-width: 598px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 1375px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 1345px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .Reviews-Wrapper h2 {
    font-size: 24px;
  }

  .Reviews-Wrapper .Reviews-Content .Review {
    width: 60%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
    margin: 0;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72%;
  }

  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews p {
    font-size: 11px;
  }
}
@media (min-width: 374px) and (max-width: 414px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 1375px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 1345px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .Reviews-Wrapper h2 {
    font-size: 24px;
  }

  .Reviews-Wrapper .Reviews-Content .Review {
    width: 60%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
    margin: 0;
  }

  .Reviews-Wrapper .Reviews-Content .Review .Card-Content h6 {
    font-size: 12px;
  }

  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews p {
    font-size: 11px;
    margin: 0;
  }
}
@media (min-width: 319px) and (max-width: 373px) {
  .Reviews-Wrapper {
    align-items: center;
    justify-content: space-around;
    height: 1375px;
  }
  .Reviews-Wrapper .Reviews-Content {
    height: 1345px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .Reviews-Wrapper h2 {
    font-size: 24px;
  }

  .Reviews-Wrapper .Reviews-Content .Review {
    width: 60%;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews img {
    border: none;
    width: 120px;
    margin: 0;
  }

  .Reviews-Wrapper .Reviews-Content .Review .Card-Content h6 {
    font-size: 12px;
  }

  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .Reviews-Wrapper
    .Reviews-Content
    .Review
    .Card-Content
    .Stars-Reviews
    .Full-Star {
    width: 105px;
    position: absolute;
  }
  .Reviews-Wrapper .Reviews-Content .Review .Card-Content .Stars-Reviews p {
    font-size: 11px;
    margin: 0;
  }
}
.RegToWeb-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegToWeb-Content {
  width: 61%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0e7496;
  border-radius: 10px;
  height: 120px;
}

.RegToWeb-Content img {
  width: 240px;
  margin-left: -50px;
}

.RegToWeb-Content .regToWeb-Desc {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: #0e7496;
}

.regToWeb-Desc p.About-Therapy {
  font-size: 26px;
}

.regToWeb-Desc p.Pacient-School {
  font-size: 22px;
  font-weight: 300;
}

.RegToWeb-Content .RegToWebinar-btn {
  width: 20%;
  margin-right: 12px;
  padding: 15px 10px;
  border-radius: 30px;
  border: none;
  color: white;
  background: #0e7496;
  transition: 0.3s;
}

.RegToWeb-Content .RegToWebinar-btn:hover {
  background: #ee2106c0;
  transition: 0.3s;
}

@media (min-width: 374px) and (max-width: 413px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 50%;
    height: 14%;
  }
}

@media (min-width: 414px) and (max-width: 598px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 50%;
    height: 14%;
  }
}

@media (min-width: 319px) and (max-width: 373px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 55%;
    height: 14%;
  }
}

@media (min-width: 599px) and (max-width: 767px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 54%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 50%;
    height: 14%;
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 50%;
    height: 14%;
  }
}

@media (min-width: 768px) and (max-width: 989px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 51%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 50%;
    height: 14%;
  }
}

@media (min-width: 990px) and (max-width: 1025px) {
  .RegToWeb-Wrapper {
    height: 450px;
  }

  .RegToWeb-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 70%;
  }

  .RegToWeb-Content img {
    width: 280px;
    margin-left: 0;
    margin-top: -38px;
  }

  .RegToWeb-Content .regToWeb-Desc {
    width: 74%;
    height: 30%;

    text-align: center;
  }

  .RegToWeb-Content .regToWeb-Desc p.About-Therapy {
    font-size: 19px;
  }

  .RegToWeb-Content .RegToWebinar-btn {
    width: 50%;
    height: 14%;
  }
}
/* start of youtube-block */
.youtube-left-block {
  width: 30%;
  padding-top: 80px;
}
.youtube-clipboard {
  width: 80px;
  height: 80px;
}
.youtube-title {
  color: #4c4c4c;
  font-size: 36px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 500;
}
.youtube-title span {
  color: #0e7496;
}
.youtube-subscribers {
  color: #000000;
  font-size: 18px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  margin: 25px 0;
}
.youtube-left-block button {
  color: #0e7496;
  font-size: 16px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  border-width: 1px;
  border-radius: 30px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #0e7496;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding: 10px 35px;
  cursor: pointer;
}
.youtube-left-block button:hover {
  background-color: #0e7496;
  color: white;
}
.youtube-right-cards {
  width: 280px !important;
}
.youtube-right-cards img {
  width: 100%;
}
.youtube-slider .slick-prev {
  top: 20% !important;
  left: 0 !important;
  background-color: #ff685a !important;
}
.youtube-slider .slick-next {
  top: 20% !important;
  right: 0 !important;
  background-color: #ff685a !important;
}
.youtube-right-block {
  width: 60%;
}
.youtube-slider .slick-dots li button:hover {
  color: #ff685a !important;
}
.youtube-slider .slick-dots li button:before {
  color: #ff685a !important;
}
.youtube-slider .slick-slider {
  height: 380px !important;
}
.youtube {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.youtube-right-cards img {
  cursor: pointer;
}
.youtube-right-cards div:nth-of-type(1) {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 26px;
  line-height: 1.23;
  margin: 15px 0;
}
.youtube-modal-wrapper div {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.25s ease-in-out;
}
.youtube-modal-wrapper div:hover {
  transform: scale(1.1);
}
.youtube-right-cards div:nth-of-type(2) {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4c4c4c;
}
.youtube-slider .slick-slide {
  opacity: 1 !important;
  display: flex !important;
  justify-content: center;
}
.youtube-modal-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 100;
}
.youtube-modal-active {
  display: flex;
}
@media (max-width: 1200px) {
  .youtube-right-cards {
    width: 200px !important;
  }
  .youtube-left-block {
    padding-top: 20px;
    text-align: center;
  }
  .youtube-slider .slick-next {
    top: 15% !important;
  }
  .youtube-slider .slick-prev {
    top: 15% !important;
  }
}
@media (max-width: 960px) {
  .youtube {
    flex-direction: column;
    align-items: center;
  }
  .youtube-left-block {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .youtube-right-block {
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .youtube-slider .slick-slider {
    width: 470px;
  }
}
@media (max-width: 512px) {
  .youtube-slider .slick-slider {
    width: 350px !important;
  }
  .youtube-slider .slick-prev {
    left: 35px !important;
  }
  .youtube-slider .slick-next {
    right: 35px !important;
  }
}
@media (max-width: 410px) {
  .youtube-slider .slick-slider {
    width: 250px;
  }
  .youtube-slider .slick-prev {
    left: 60px !important;
  }
  .youtube-slider .slick-next {
    right: 60px !important;
  }
}

/* header */

.header-upper-left img {
  width: 15px;
}
.header-upper-left {
  display: flex;
  width: 25%;
}
.header-upper-choose-clinic {
  position: relative;
  border-bottom: 2px dashed black;
}
.header-upper-block p {
  cursor: pointer;
}
.header-lower-block p {
  cursor: pointer;
}
.header-lower-block p:hover {
  color: #0e7496;
}
.header-upper-block {
  color: #000000;
  font-size: 17px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1;
  font-weight: 300;
}
.header-lower-block {
  color: #000000;
  font-size: 17px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1;
  font-weight: 300;
}
.header-upper-choose-clinic:hover > .header-clinics-wrapper {
  display: block;
}
.header-upper-choose-clinic:hover > .header-clinics-wrapper > .header-clinics {
  display: flex;
}
.header-lower-services:hover > .header-services-wrapper {
  display: block;
}
.header-lower-services:hover > .header-services-wrapper > .header-services {
  display: flex;
}
.header-clinics {
  z-index: 10;
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  width: max-content;
  padding: 15px 25px;
  left: -60%;
  top: 15px;
  text-align: left;
  background: white;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
}
.header-clinics-wrapper {
  display: none;
  position: absolute;
  padding-top: 25px;
  width: 100%;
  height: 100%;
}
.header-services {
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  width: max-content;
  padding: 15px 25px;
  left: -190%;
  top: 30px;
  text-align: left;
  background: white;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
  z-index: 10;
}
.header-clinics div {
  margin: 5px;
  width: 100%;
}
.header-clinics div:hover {
  color: #0e7496;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-services div:hover {
  color: #0e7496;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-services div {
  margin: 5px;
  width: 100%;
}
.header-upper-choose-clinic > p:hover,
.header-lower-services > p:hover,
.header-upper-choose-clinic > p:hover {
  color: #0e7496;
}
.header-more {
  left: -400% !important;
}
.header-lower-services {
  position: relative;
}
.header-services-wrapper {
  display: none;
  position: absolute;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.header-services-wrapper:hover > .header-services {
  display: flex;
}
.header-upper-block {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: 1px solid #0e7496;
  border-radius: 30px;
  font-weight: 400;
  height: 45px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.35s ease-in-out !important;
  cursor: pointer;
}
.btn-white {
  color: #0e7496;
  background: white;
}
.btn-white:hover {
  color: white;
  background: #0e7496;
}
.therapy-btn {
  position: absolute;
  bottom: 30px;
}
.btn-red {
  color: white;
  background: #ff685a !important;
  border: none;
}
.btn-red:hover {
  background: #0e7496 !important;
  color: white;
}
.btn-blue {
  color: white;
  background: #0e7496;
}
.btn-blue:hover {
  color: #0e7496;
  background: white;
}
.btn-blue:hover img {
  filter: invert(40%) sepia(17%) saturate(2051%) hue-rotate(149deg)
    brightness(90%) contrast(98%);
}
.header-btn {
  height: 35px;
  display: flex;
  align-items: center;
}

.header-upper-right button img {
  width: 15px;
  margin-left: 5px;
}
.header-upper-right {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-upper-right a {
  display: flex;
  align-items: center;
}
.header-upper-right a img {
  width: 21px;
  margin-right: 5px;
}
.header-lower-left {
  width: 20%;
}

.header-lower-block {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-lower-left img {
  width: 161px;
  cursor: pointer;
}
.header-lower-right {
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.rotated-block {
  background: white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 11;
  transform: rotate(45deg);
}
.lower-rotated {
  top: 20px;
  left: 45%;
}
.header-blue-adap-block {
  width: 100%;
  height: 3vh;
  background: #0e7496;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
}
.header-lower-right-adap {
  width: 40%;
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .header-upper-left {
    width: 20%;
  }
  .header-upper-right {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .header-blue-adap-block {
    display: flex;
  }
  .header-upper-block {
    display: none;
  }
  .header-lower-block {
    height: 10vh;
  }
  .header-lower-right {
    display: none;
  }
  .header-lower-right-adap {
    display: flex;
  }
}

/* ham burger */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
.header-burger-wrapper {
  width: fit-content;
}
.header-search-btn {
  cursor: pointer;
}
@media (max-width: 512px) {
  .header-lower-right-adap {
    width: 50%;
  }
  .header-lower-right-adap img {
    width: 24px;
  }
  .header-lower-left {
    width: 49%;
  }
  .header-lower-left img {
    width: 140px;
  }
  .header-blue-adap-block {
    font-size: 10px;
  }
}
/* whatsapp and telegram */
.whatsapp {
  position: fixed;
  bottom: 15px;
  right: 85px;
  cursor: pointer;
  z-index: 20;
}
.telegram {
  position: fixed;
  bottom: 15px;
  right: 25px;
  cursor: pointer;
  z-index: 20;
}

.header-search-block-wrapper {
  position: fixed;
  top: -2000px;
  left: 0;
  width: 100%;
  z-index: 18;
  height: 100vh;
  display: flex;
  transition: all 0.5s ease-in-out;
}
.header-search-block {
  z-index: 19;
  width: 100%;
  display: flex;
  height: 15vh;
  background: white;
  justify-content: center;
  align-items: center;
}
.header-search-input {
  border: 1px solid #4c4c4c;
  padding: 10px;
  border-radius: 30px;
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
}
.header-search-input input {
  font-size: 17px;
  outline: none;
  border: none;
  width: 80%;
  margin-left: 5px;
  margin-right: 15px;
}
.header-search-block-wrapper.active {
  top: 0;
}
.header-search-clear-btn {
  display: none;
  cursor: pointer;
}

/* burger-modal */

.header-burger-modal-wrapper {
  position: fixed;
  z-index: 30;
  top: 0;
  opacity: 0;
  left: -5000px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  justify-content: flex-start;
  transition: opacity 0.5s ease-in-out;
}
.header-burger-modal {
  padding: 15px 20px;
  width: 60%;
  height: 100%;
  background: white;
}
.header-burger-modal > div:nth-of-type(1) {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}
.header-burger-modal div {
  margin-bottom: 15px;
  width: 100%;
}
.header-burger-modal-svg svg {
  margin-right: 10px;
}
.header-burger-clinic > .header-clinics-wrapper > .header-clinics {
  left: -5%;
}
.header-burger-clinic {
  border: none !important;
}
.burger-rotated {
  width: 20px !important;
  left: 40% !important;
}
.header-burger-modal-wrapper.active {
  opacity: 1;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 960px) {
  .header-burger-modal-wrapper {
    display: flex;
  }
}
/* start carrier block */

.carrier_wrapper {
  height: 810px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.start_carrier {
  position: absolute;
  left: -1100.5px;
  top: 152px;
  width: 260px;
}
.end_carrier {
  position: absolute;
  top: 152px;
  width: 260px;
  top: 152px;
  right: -1000px;
}
.center_carrier {
  width: 560px;
  height: 620px;
  left: 1349.5px;
  margin: 0 30px;
}

/* end carrier block */

/* city wrapper start */

.city_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.city_address div {
  color: #0e7496;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 5px;
}
.city_address img {
  height: 100px;
}
.clinic {
  padding-top: 45px;
}
.clinic h3 {
  text-align: center;
  color: #4c4c4c;
  font-size: 30px;
  font-weight: 400;
}
.clinic h3 div {
  line-height: 24px;
}
.address {
  text-align: center;
}
.city_address {
  display: flex;
  flex-direction: column;
}
/* city wrapper end */
.consultation-card > .react-tel-input .form-control {
  border-radius: 30px !important;
}
.consultation-card {
  border: 1px solid grey;
  border-radius: 30px;
    padding: 2px 15px;
}

/* Joints Page start */
.joints_title{
  width: auto;
  height: 130px;
  background-color: #f5f7fa;
  margin-top: 20px;
}
.joints_title h1{
  font-size: 42px;
  line-height: 1.23;
  font-weight: 300;
  padding-top: 34px;
}
.joint_treatment{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
.joint_treatment h2{
  color: #4c4c4c;
  font-size: 40px;
  font-weight: 400;
}
.about_diagnostics{
  padding-top: 17px;
  padding-bottom: 40px;
  font-weight: 300;    
  font-size: 20px;
  line-height: 1.55;
  color: #4c4c4c;
}
.btn_traumatologist{
  text-align: center;
  margin-bottom: 50px;
}
/* treatment Method cards start */
.treatmentMethCard{
  max-width: 360px;
  height: 758px;
  border: 1px #dbdbdb solid;
  text-align: center;
}
.treatmentMethCard img{
  width: 80px;
  height: 80px;
  margin: 40px 0px 45px 0px;
}
.treatment_title{
  color: rgb(76, 76, 76);
  font-weight: 800;
  font-size: 25px;
  font-family: Rubik;
  height: 65px;
}
.treatments_wrapper{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  margin: 50px 0 50px 0;
}
.treatment_desc{
  color: rgb(41, 23, 23);
  font-weight: 400;
  font-family: Rubik;
  text-align: left;
  margin: 0px 25px 0px 25px;
}
.treatment_duration{
  color: rgb(14, 116, 150);
  font-weight: 400;
  margin-bottom: 30px;
}
.treatment_methods{
  margin-top: 60px;
}
/* treatment Method card end */

/* painCard start*/

.painCards_wrapper{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 45px;
  margin-top: 50px; 
  margin-bottom: 65px;
}
.painCard{
  height: 325px;
  width: 350px;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 2px 0px;
}
.painCard:hover{
  box-shadow:  5px 5px 5px rgba(154, 147, 140, 0.5), 5px 5px 5px rgba(255, 255, 255, 1);
}
.painDesc{
  padding: 30px 30px 40px;
}
.painDesc ul{
  padding-left: 19px;
  font-family: 'Rubik',Arial,sans-serif;
  font-weight: 400;
  color: #4c4c4c;
}
.painDesc ul li{
  margin-bottom: 5px;
}
.painTitle{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #4c4c4c;
}

/* painCard end */

/* VideoCard start */
.v_link{
  width: 340px;
  height: 340px;
  margin-bottom: 50px;
}
.videosWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 512px){
  .videosWrapper{
    justify-content: center;
  }
}
/* VideoCard end */
/* Joints Page end */
.doctor_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.big-btn {
  height: 60px;
  padding: 20px 50px;
  font-size: 18px;
}
.callback_wrapper > .consultation-card{
  padding: 8px 15px !important;
  border-color: rgba(131, 130, 130, 0.5);
  background: white;
}
.react-tel-input .selected-flag{
  background: white;
}
@media(max-width: 960px){
  .doctor_card_wrapper{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .doctor_card_wrapper .big-btn{
    height: 80px;
    border-radius: 50px;
  }
}
@media(max-width: 620px){
  .consultation-card .react-tel-input{
    width: 180px !important;
  }
  .consultation-card .react-tel-input .form-control{
    width: 100%;
  }
}
.article_card_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

.article-page-wrapper .slick-slider{
  height: 280px !important;
}
.article-page-wrapper .slick-prev{
  left: -80px !important;
}
.article-page-wrapper .slick-next{
  right: -80px !important;
}
.article-page-wrapper .slick-arrow{
    background: #ff685a !important;
}
.article-page-wrapper .slick-arrow:hover{
  background: white !important;
  
}
.article-page-wrapper .slick-arrow:hover svg{
  transition: all 0.5s ease-in-out;
  filter: invert(60%) sepia(34%) saturate(4475%) hue-rotate(324deg) brightness(100%) contrast(101%);
}
.article-last-slider .slick-slider{
  height: 100% !important;
}
.article-page-wrapper .joints_title{
  margin-top: 0;
}
@media(max-width: 960px){
  .article-page-wrapper .slick-slider{
    height: fit-content !important;
  }
}
@media(max-width: 512px){
  .t-slds__arrow_body{
    width: 14px !important;
  }
  .article-page-wrapper .slick-prev{
    left: 0px !important;
  }
  .article-page-wrapper .slick-next{
    right: 0px !important;
  }
  .article-page-wrapper .slick-arrow{
    width: 50px !important;
    height: 50px !important;
  }
}